<!DOCTYPE html>
<html>
<head>
    <title>Movie Ticket Booking</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <h1>Movie Ticket Booking System</h1>
    </header>

    <section class="movies">
        <div class="movie-card">
            <h2>Saiyaara</h2>
            <p>Romance | Drama</p>
            <a href="movies.html">Book Now</a>
        </div>

        <div class="movie-card">
            <h2>War 2</h2>
            <p>Action | Thriller</p>
            <a href="movies.html">Book Now</a>
        </div>
    </section>

</body>
</html>