<!DOCTYPE html>
<html>
<head>
    <title>Movie Ticket Booking</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <header>
        <h1>Movie Ticket Booking System</h1>
    </header>

    <nav>
        <a href="index.html">Home</a>
        <a href="#">Movies</a>
        <a href="#">Login</a>
    </nav>

    <section class="movies">

        <div class="movie-card">
           <img src="../static/image/saiyaara.jpg" alt="Saiyaara">
            <h2>Saiyaara</h2>
            <p>Romance | Drama</p>
            <a href="movies.html">Book Now</a>
        </div>

        <div class="movie-card">
     <img src="../static/image/war2.jpg" alt="War 2">
            <h2>War 2</h2>
            <p>Action | Thriller</p>
            <a href="movies.html">Book Now</a>
        </div>

    </section>

</body>
</html>